<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MOOL</title>
</head>
<body>
  {% extends "MOOL_APP/header_footer.html" %}
  
  {% block content %}
  {% load static %}
  <br>
  <div class="main">
    <img class="logo" src="{% static 'MOOL_APP/images/Mool.jpg' %}" alt="logo">
    <div class="logo">
      <form action="log_in" method="post">
        {% csrf_token %}
        <label><h1>Admin Code</h1></label>
        <br>
        <input type="password" name="password" autocomplete="off">
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
  {% endblock %}
</body>
</html>